body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.cont{
    
    max-width:800px;
    margin:0 auto;
    padding-top :60px;
    font-family:Times New Roman;
    background-color:blue;
}
.my-body{
    max-width:800px;
    color:black;
    background-color:grey;
    font-family:"Times New Roman", Georgia, Serif;
    margin:50px;
    margin-left:50px;
    margin-right:50px;
}
.metiral {
    color:blue;
}